	<div class="row">
	<% @restaurants.each do |r| %>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <%= link_to image_tag(r.image, {alt: "image-not-found", onerror:"this.src='image-not-found.jpg';", class: "card-picture"}), restaurant_path(r), {} %>
        <div class="card-body">
          <h4 class="card-title">
            <p class="card-text"><%= r.name %></p>
          </h4>
          <p class="card-text"><%= r.description %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>