
	<h1> restaurant root </h1>
	<div class="row category-row">
		<div class="list-group">
		<% @categories.each do |c| %>
		<%= link_to c.name, category_path(c), {class: "list-group-item"}%>
		<%end%>
		</div>
	</div>
	<%= render partial: "shared/restaurants" %>
	<div class="text-center margin-10-10">
		<%= paginate @restaurants, theme: 'twitter-bootstrap-4' %>
	</div>
	<div style="height:1px;"></div>
