<div <div class="container">
	<h1> restaurant root </h1>
	<div class="row category-row">
		<div class="list-group">
		<% @categories.each do |c| %>
		<%= link_to c.name, category_path(c), {class: "list-group-item"}%>
		<%end%>
		</div>
	</div>
	<div class="row">
	<% @restaurants.each do |r| %>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <p class="card-text"><%= r.name %></p>
          </h4>
          <p class="card-text"><%= r.description %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>