*{
	position: relative;
}

body{
	background-color: #E3E3E3;
}

.margin-10-10{
	margin: 10px 10px;
}

/* restaurant index */

.bgc-white{
	background-color: #fff;
}

.category-row{
	padding:30px 10px;
}
.list-group{
	display: inline-block;
}
.list-group-item{
	display: inline-block;
	margin-right: 20px;
}

.portfolio-item{
	margin-bottom: 20px; 
}

.card-picture{
	max-width: 100%;
}

/* restaurant show template
  	https://github.com/BlackrockDigital/startbootstrap-business-casual/ */

.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 75%;
    float: right;
  }
  .intro .intro-text {
    left: 0;
    width: 60%;
    margin-top: 3rem;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
  border: 2px solid grey;
}

.page-section{
	padding:20px;
}

.cta {
  background-color: rgba(230, 167, 86, 0.9);
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

/* end here */
/* restaurant show comment */

.comments-outter{
	padding: 20px 100px;
	background-color: white;
	margin: 0px 50px;
}

.comments-outter-tittle{
	margin-bottom: 50px;
}

.comment-box{
	border-radius: 8px;
	background-color: white;
}

.comment-tittle{
	margin: 0 50px;
	min-height: 50px;
}

.comment-tittle p{
	display: inline-block;
}

.comment-text{
	margin: 0 50px;
	padding-left: 10px;
	min-height: 50px;
}
.comment-form{
	margin: 0 50px;
}