*{
	position: relative;
}

body{
	background-color: #E3E3E3;
}

.margin-10-10{
	margin: 10px 10px;
}

.paddint-top-10{
  padding-top: 10px;
}

/* restaurant index */

.bgc-white{
	background-color: #fff;
}

.tab-bar{
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  display: block;
}

.nav-tabs-main{
  font-size: 20px;
}

.nav-tabs-scd{
  margin-left: 20px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.list-group{
	display: inline-block;
}
.list-group-item{
	display: inline-block;
	margin-right: 20px;
}

.portfolio-item{
	margin-bottom: 20px; 
}

.card-picture{
  width: 100%;
  height:100%;
  object-fit: cover;
}

.badge-position{
  position: absolute;
  right:15px;
  bottom: 15px;
}

.card-pic-width{
  width: 100%;
  overflow: hidden;
}

.card-pic-height{
  padding-top: 75%;
  overflow: hidden;
}

.card-pic-position{
  width: 100%;
  height:100%;
  position: absolute;
  top:0;
  left: 0;
}

/* restaurant show template
  	https://github.com/BlackrockDigital/startbootstrap-business-casual/ */

.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 75%;
    float: right;
  }
  .intro .intro-text {
    left: 0;
    width: 60%;
    margin-top: 3rem;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
  border: 2px solid grey;
}

.page-section{
	padding:20px;
}

.cta {
  background-color: rgba(230, 167, 86, 0.9);
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

.margin-4{
  margin:0px -15px;
}

/* end here */
/* restaurant show comment */

.z{
  z-index: 10;
}

.comments-outter{
	padding: 20px 100px;
	background-color: white;
	margin: 0px 50px;
}

.comments-outter-tittle{
	margin-bottom: 50px;
}

.comment-box{
	border-radius: 8px;
	background-color: white;
}

.comment-tittle{
	margin: 0 50px;
	min-height: 50px;
}

.comment-tittle p{
	display: inline-block;
}

.comment-text{
	margin: 0 50px;
	padding-left: 10px;
	min-height: 50px;
}
.comment-form{
	margin: 0 50px;
}

/* end here */
.alert_mes{
  margin-right: 20px;
}

/* user show html */

.avatar-fit{
  width: 100%;
  height:100%;
  object-fit: cover;
}

.avatar-height{
  padding-top: 100%;
  overflow: hidden;
}

.avatar-width{
  width: 80%;
  margin: 0 auto;
}

.avatar-position{
  width: 100%;
  height:100%;
  position: absolute;
  top:0;
  left: 0;
}

.avatar-round{
  max-width:50%;
  border-radius: 40%;
}
.intro-holder{
  position: absolute;
  top:20%;
}

@media (max-width: 768px){
  .intro-holder{
  position: relative;
  }
}

.profile-pic-fit{
  width: 100%;
  height:100%;
  object-fit: cover;
}

.profile-pic-height{
  padding-top: 75%;
  overflow: hidden;
}

.profile-pic-position{
  width: 100%;
  height:100%;
  position: absolute;
  top:0;
  left: 0;
}


/*feeds*/
.feeds-block{
  border-bottom: 5px solid lightgrey;
  margin-bottom: 10px;
}
.feeds-name{
  position: absolute;
  bottom: 0px;
  left:0px;
}

@media (max-width: 991px){
  .feeds-name{
  position: relative;
  padding-top: 10px;
  }
  .feeds-name p{
  display: inline-block;
  padding-right: 10px;
  }
}

.feeds-intro{
  height: 50px;
}
.feeds-intro p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-top: 10px;
}

.feeds-pic-fit{
  width: 100%;
  height:100%;
  object-fit: cover;
}

.feeds-pic-height{
  padding-top: 75%;
  overflow: hidden;
}

.feeds-pic-position{
  width: 100%;
  height:100%;
  position: absolute;
  top:0;
  left: 0;
}

/*experts*/

.experts-block{
  border-bottom: 5px solid lightgrey;
  margin-bottom: 10px;
}
.experts-name{
  position: absolute;
  bottom: 0px;
  left:0px;
}

@media (max-width: 991px){
  .experts-name{
  position: relative;
  padding-top: 10px;
  }
  .experts-name p{
  display: inline-block;
  padding-right: 10px;
  }
}

.experts-intro{
  padding-left: 5px;
  padding-top: 10px;
}
.experts-intro p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.experts-pic-fit{
  width: 100%;
  height:100%;
  object-fit: cover;
}

.experts-pic-height{
  padding-top: 100%;
  overflow: hidden;
}

.experts-pic-position{
  width: 100%;
  height:100%;
  position: absolute;
  top:0;
  left: 0;
}